argparse==1.2.1
ipython==2.3.0
## FIXME: could not find svn URL in dependency_links for this package:
joblib==0.8.3-r1
numpy==1.9.0
pandas==0.14.1
python-dateutil==2.2
pytz==2014.7
scikit-learn==0.15.2
scipy==0.14.0
six==1.8.0
wsgiref==0.1.2
